/* *{
    padding: 0;
    margin: 0;

}
nav{
    background-color: rgb(244, 237, 237);
    font-size: 1.3rem;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-shadow: 10px #292626;
    
}

.lik{
    margin-right: -100px;
}
nav a{
    text-decoration: none;
    text-transform: capitalize;
    color: gray;
    
}
.name{
    margin-left: -120px;
    font-size: 1.875rem;
    margin-top: 0.9rem;
    color: black;
}
nav ul{
    list-style: none;
    display: flex;
    width: 85px;
    justify-content: space-between;
    margin-top: 1.438rem;
    color: gray;
    padding-bottom: 0.625rem;
}
.li{
    width: 520px;
    margin-left: -300px;
    color: gray;
} */
* {
    margin: 0%;
    padding: 0%;
    font-family: 'Open Sans', sans-serif;
}

html,
body {

    width: 100%;
    
}

#main {
    height: 100%;
    width: 100%;
}

#header {
    width: 100%;
    height: 15vh;
    position: fixed;
    background-color: white;
}

#fakeHeader {
    width: 100%;
    height: 15vh;
}

#contactInf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30%;
    background-color: #a5c926;
}

.content {
    display: flex;
    margin-left: 40px;
    justify-content: space-between;
    margin-right: 40px;
}

.content .text {
    margin-left: 10px;
    color: #FFFFFF;
    font-size: 11px;
    font-family: "open-sans";
}

.content .icons {
    margin-left: 10px;
    width: 18px;
    height: 18px;
}

.content .icons a img {
    width: 18px;
    height: 18px;
    object-fit: cover;

}

#nav-main {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 24px;
}

#logo {
    font-size: 22px;
    font-family: 'Varela Round', sans-serif;
    color: #333333;
    cursor: pointer;
}

.nav-manu {
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: space-between;
}
.nav-fields {
    display: flex;
    width: 30%;
    justify-content: space-around;
    margin-right: 80px;
}

.nav-fields a {
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    font-size: 14px;
    color: #111111;
    text-decoration: none;
}

.nav-fields a:hover {
    text-decoration: underline;
}

#circle {
    border-radius: 50%;
    background-color: #a5c926;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.nav-icons {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-icons .icons {
    margin-left: 10px;
}


.imag{
    margin-top: -4px;
}

.two{
    display: flex;
    justify-content: space-around;
    margin-bottom: 200px;
    
}
.column{
    float: left;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: azure;

}
#ew{
    padding-top: 10%;
}
#ew2{
    padding-left: 5rem;
    padding-top: 10%;
}
button{
    background-color: azure;
    width: 6rem;
    height: 2.5rem;
    border-radius: 50px;
    border: none;
}
.column1{
    padding-bottom: 20%;
}
.twoone{
    background-color: rgb(255, 205, 40);
    width: 550px;
    border-radius: 40px;
    display: flex;
    justify-content: space-evenly;
    height: 190px;
    margin-top: 7.5rem;
    margin-left: 4.55rem;
}
.twotwo{
    background-color: rgb(236, 7, 60);
    width: 550px;
    border-radius: 40px;
    display: flex;
    justify-content: space-evenly;
    height: 190px;
    margin-top: 7.5rem;
    margin-right: 4.55rem;
}
.row{

    margin: 0% 5% 0%;
}
.row .upper{
    display: flex;
   justify-content: space-between;
    margin-top: 100px;
    border-bottom: 3px solid rgb(192, 184, 184);
}
.row .upper button{
    font-weight: 500;
    font-size: 18px;
    margin-top: 30px;
    height: 30px;
    margin-left: 800px;
    width: 150px;
    padding: 0px;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid grey;
    background-color: #f7f7f7;
}
.row .upper p{
    font-family: sans-serif;
    font-size: 30px;
}
.card-box{
    display: flex;
    
    border: none;
    
    
    margin-top: 40px;
    
}
.card{
    width: 200px;
    height: 300px;
    display: flex;

    justify-content: space-evenly;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin-inline: 28px;
    text-align: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(206, 206, 206, 0.2), 0 6px 20px 0 rgba(124, 124, 124, 0.19);
    transition: .5s;
    margin-bottom: 70px;
    
}
.card button{
    border: none;
    color:#fff ;
    justify-content: center;
    background-color: rgb(181, 221, 72);
    padding: 8px;
    border-radius: 30px;
    width: 130px;
    cursor: pointer;
}
.card p{
    font-size: 18px;
    font-weight: 200;
    color: rgb(65, 65, 65);
}
.card:hover{
    transform: scale(1.1);
    z-index: 3;
}
.p1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
   
}
.p1 a{
    color: rgb(141, 218, 25);
}
.p1 p{
    font-size: 30px;
}
.capt{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    justify-items: flex-start;
}
.ca2 img{
    border-radius: 30px;
    margin-left: 80px;
}
.ca1 a{
    font-size: 40px;
}
.ca1{
  margin-top: 10%;
}
.ca1 button{
    background-color: rgb(165, 216, 88);
    width: 130px;
    color: #f7f7f7;
}
.line{
    width: 80px;
    color: rgb(165, 216, 88);
}
.ime{
    display: flex;
    
    justify-content: space-evenly;
}
.ime img{
    border-radius: 15px;
}
.but{
    width: 150px;
    font-size: 15px;
    background-color: rgb(165, 216, 88);
    color: #f7f7f7;
}
footer{
    
    background-color: rgb(165, 216, 88);
    margin-left: -100px;
    margin-right: 0px
}