
body{
    background-image: url(Chitkara_University_pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.main{
    border-style: groove;
    margin-left: 700px;
    padding-left: 30px;
    margin-right: 185px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 90px;
    background-color: #ffffff;
}
.main input{
    width: 250px;
}
.main select{
    width: 258px;
}
.main button{
    width: 258px;
    font-size: 20px;
    color: #ffffff;
    background-color: brown;
    border-style: none;
}
.power{
   font-size: 20px;
}
#imag{
    margin-left: 50px;
}